
{% extends "layout.html" %}

{% block content %}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Sr.No</th>
            <th scope="col">Subject Name</th>
            <th scope="col">Description</th>
            <th scope="col">Details</th>
        </tr>
    </thead>
    <tbody>
        {% for subject in subjects %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{subject.name}}</td>
                <td>{{subject.description}}</td>
                <td>
                    <a href = "{% url "subjectdetails" subject.id %}" class="btn btn-warning">Details</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}